.content{
	background-color: #F8BFBF;
	color:#000;
	&__header{
		text-align: center;
		font-size: 22px;
		font-family: $montserrat-b;
		margin:40px 0; 
	}
	
.carousel__article{
	
	text-align: left;
	/*border: 1px solid #000;*/
	/*position: relative;*/
	/*top: 0;*/
	/*top:170px;*/
	/*display: table-cell;*/
	/*vertical-align: bottom;*/
	padding: 0 20px;
	header{
		text-align: left;
		margin:0;
		.btn-step{
    	background-color: $rose-color;
    	border-radius: 20px;
			padding: 0 15px;
    	line-height: 20px;
    	font-size: 10px;
			font-family: $montserrat-r;
    	color:#fff;
    	text-transform: uppercase;
    	letter-spacing: 1.5px;
		}
		h1{
			margin-top: 0px;
			font-family: $montserrat-b;
			font-size: 24px;
			color: #fff;
			line-height: 31px;
		}
	}
	article {
		margin-top: 0px;
		p{
			color: #fff;		
			font-family: $roboto-l;
			font-size:14px;
		}
	}
}	



	&__how{
		/*background-color: #FAC6C6;*/
		
	}
	&__partner{
		.partner-list{
			border: 1px solid red;
			margin: 0 auto;
			text-align: center;
			li{
				display: inline-block;
				border: 1px solid #000;
				width:200px;
				height: 200px;
			}
		}
		.btn-partner {
    		@extend .btn;
    		display: inline-block;
    		margin: 0 auto;
    		font-size: 14px;
    		color:$rose-color;
    		border-color: $rose-color;
    		background-color: #fff;
    	}
	}
	&__discover{
		h3 {
			font-family: $roboto-l;
			font-size: 18px;
			margin:10px auto;
		}
		.search-box{
			margin:15px 15px;
			input {
				line-height: 38px;
				font-family: $roboto-l;
				font-size: 14px;
				width: 280px;
				margin:10px 0;
				border-radius: 4px;
				padding: 0 14px;
				border:1px solid #ccc;
				box-shadow: 0 1px #eee;
			}
		}
		.btn-search {
    		@extend .btn;
    		margin: 0 auto;
    		font-size: 14px;
    		border-color: $rose-color;
    		background-color: $rose-color;
    	}
	}
	.ideas-list {
		overflow: hidden;
		text-align: center;
	}
	/* ---- .grid-item ---- */
	.grid-item {
		margin: 10px 5px;
	  	float: left;
	  	position: relative;
	  	border-radius: 5px;
	  	& a{
	  		line-height: 300px;
	  		font-family: $montserrat-b;
	  		font-size: 22px;
	  		color:#fff;
	  	}
	}
	.grid:after {
		content: '';
		display: block;
		clear: both;
	}
}