
.header{
	height: 700px;
	background: url('../img/header.png') #1a1915 center center no-repeat;
	background-size: cover;
	.header-top{
		margin: 0 auto;
		position: relative;
		/*text-align: center;*/
	}
	&__login-box{
		/*display: inline-block;*/
		/*float: right;*/
		position: relative;
		color:#fff;
		.btn-in.selected, .btn-in:hover {
			@extend .btn;
			border-color: #fff;
		}
	}
	h3{
		/*float: left;*/
		color: #fff;
		font-family: $montserrat-b;
		font-size: 20px;
		/*line-height: 38px;*/
	}
	&__content{
		/*position: relative;*/
		/*top:225px;*/
		margin: 37px auto 0 auto;
		text-align: center;
		color:white;
		h1{
			text-align: center;
			font-size: 30px;
			font-family: $montserrat-b;
			text-transform: uppercase;
			/*margin: 40px auto 0 auto;*/
		}
		p{
			margin: 20px auto;
			font-family: $roboto-l;
			font-size: 24px;
		}
		.btn-header {
    		@extend .btn;
    		border-color: $rose-color;
    		background-color: $rose-color;
    	}
	}
}




