/**/
/* * {
	border-style: solid;
	border-width: 1px;
} */
body{
	background: #eee;
}
a {
	text-decoration: none;
}
h2{
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}
.main {
	width: 515px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 2px 1px #cecece;
}
.container {
	width: 80%;
	text-align: left;
	margin: 0 auto;
}
.main .container {
/*	margin: 0 auto;*/
}
.header {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px; 
	padding-top: 1px;
}
.header .container {
	text-align: center;
}
.header h1{
	margin-top: 50px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
	}
.content {
	margin-top:30px; 
	margin-bottom: 20px;
}
.content .container {
	font-size: 18px;
}
.contacts {
	margin-top:30px; 
	margin-bottom: 20px;
}
.contacts  ul {
	list-style:none;
	font-size: 18px;
	margin: 0;
}
.contacts li{
	margin:0;
	margin-bottom: 10px;
}
.footer {
	margin-top:30px; 
	padding-bottom: 60px;
}
