@font-face {
    font-family: 'Helvetica Heue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html{
	height: 100%;
	font-family: "Helvetica Heue", sans-serif ;
	color: white
}
body{
	height: 100%;
	background: url('../img/background.jpg') no-repeat center center ;
	background-size:cover;
}
.clearfix:after{
	content:'';
	clear: both;
	display: block;
}
.wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}
.header {
	display: block;
	color:#fff;
	overflow: hidden;
	position: relative;
	background: url('../img/bg1.png') 0 0 repeat;
	z-index: 1;
}
.header ul{
	float: right;
	display: inline-block;
	margin-right: 20px;
	padding-right: 10px;
}
.header ul li{
	display: inline-block;
	padding: 0 10px;
	border:1px solid transparent;
}
.header img{
	float:left;
	margin-top: 5px;
}
.header a{
	display: inline-block;
	font-size: 14px;
	line-height: 34px;
	color: #fff;
	text-decoration: none;
	padding:0 10px;
}
.header .menu1  a{
	color:#60b5ed;
}
.header li:hover, .active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#51b1dc+0,2e7ac4+100 */
	background: #51b1dc; /* Old browsers */
	background: -moz-linear-gradient(top,  #51b1dc 0%, #2e7ac4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b1dc), color-stop(100%,#2e7ac4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #51b1dc 0%,#2e7ac4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #51b1dc 0%,#2e7ac4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #51b1dc 0%,#2e7ac4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #51b1dc 0%,#2e7ac4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b1dc', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */
	border:1px solid rgba(69,154,212,1);
}

.menu1 li:hover a{
	color: white;
}
.menu2{
	border-left: 1px solid #60b5ed;
	font-size: 0;
}
.menu2 li:hover a{
	text-decoration: underline;
}
.menu2 img{
margin-right: 10px;
}
.content {
	height: 100%;
	position: relative;
}	
.login{
	position: absolute;
	top:50%;
	left:50%;
	width: 600px;
	height: 615px;
	margin:-307px -300px;
	
}

.login_title{
	position: relative;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	
	height: 60px;
	width: 100%;
	margin-bottom: 2px;
	background-color: rgba(0,0,0,.63);
}
.title_with_line{
	text-align: center;
}
.title_with_line:before,
.title_with_line:after{
	content:'';
	position: relative;
	display: inline-block;
	width: 123px;
	height: 1px;
	border-bottom: 1px solid black;
	background: grey;
	vertical-align: middle;
}
.title_with_line:before{
	margin: 0 5px 0 0;
}
.title_with_line:after{
	margin: 0 0 0 5px;
}
.login_content{
	position: relative;
	display: block;
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
	width: 100%;
	text-align: center;
	color: #ccc;
	font-size: 14px;
	clear: both;
	background-color: rgba(0,0,0,.63);
}
.login_content div{
	background-color: transparent;
	padding-top:25px;
}
.login_content 
input[type="text"], 
input[type="password"], 
input[type="email"]{
	color:white;
	font-size: 14px;
	font-family: "Helvetica Heue",sans-serif;
	text-align: center;
	height: 35px;
	width: 275px;
	background-color: #000;
	box-sizing:border-content;
    border-width: 0;
    border-bottom: 1px solid #494949;
    transition: box-shadow 1s, border 1s;
}


.login_content 
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
	background: #1b5288;
	-webkit-box-shadow:  0px 0px 16px 2px rgba(45,127,204,1);
	-moz-box-shadow: 0px 0px 16px 2px rgba(45,127,204,1);
	box-shadow: 0px 0px 16px 2px rgba(45,127,204,1);
}
.login_content button[type="submit"]{
	color: white;
	font-size: 14px;
	font-family: tahoma, sans-serif;
	border:none;
	border-radius:4px; 
	width: 150px;
	height: 35px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8dbfd6+0,2e7ac4+100 */
	background: #8dbfd6; /* Old browsers */
	background: -moz-linear-gradient(top,  #8dbfd6 0%, #2e7ac4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dbfd6), color-stop(100%,#2e7ac4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8dbfd6 0%,#2e7ac4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8dbfd6 0%,#2e7ac4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8dbfd6 0%,#2e7ac4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8dbfd6 0%,#2e7ac4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dbfd6', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px 0px 16px 2px rgba(45,127,204,1);
}
.login_content button[type="submit"]:active{
	box-shadow: 0px 0px 2px 2px rgba(45,127,204,1);
}
.login_content .privacy{
	font-size: 12px;
	margin:20px auto;
	width: 349px;
}
