<main class="content">
	<section class="content__how">
	   <div class="wrapper">
			<header>How Urlaubsglück works?</header>
			<div class="jcarousel">
				
			</div>
			<div class="jcarousel">
				
			</div>
			<div class="jcarousel">
				
			</div>
	   </div>
	</section>
	<section class="content__partner">
		<div class="wrapper">
			<header>Meet a partner for your best holiday</header>
			<ul class="partner-list">
				<li class="partner-list__item">
					foto
				</li>
				<li class="partner-list__item">
					foto
				</li>
				<li class="partner-list__item">
					foto
				</li>
				<li class="partner-list__item">
					foto
				</li>
			</ul>
			<a href="#" class="btn-partner">See other partners</a>
		</div>	
	</section>
	<section class="content__discover">
		<div class="wrapper">
			<header>Discover holiday activity ideas</header>
			
			<div class="ideas-list">
				<div class="grid">
  					<div class="grid-sizer"></div>
				</div>
			</div>
			<header>Discover holiday activity ideas</header>
			<h3>Hi! What are your holiday interests?</h3>
			<div class="search-box">
				<input class="input-search" type="text" placeholder="Enter your interests">
				<a href="#" class="btn-search">Search partners</a>
			</div>
		</div>
	</section>
</main>