<section class="footer">
<div class="footer__split-line"></div>    
	<div class="wrapper">
		<section class="footer__item">
			<h1>URLAUBSGLÜCK</h1>
		</section>   
		<section class="footer__item">
			<h3>Company</h3>
			<ul class="footer__links">
				<li><a href="#" class="footer__links__item">About</a></li>
				<li><a href="#" class="footer__links__item">Contacts</a></li>
				<li><a href="#" class="footer__links__item">Press</a></li>
				<li><a href="#" class="footer__links__item">Blog</a></li>
			</ul>
		</section>
		<section class="footer__item">
			<h3>Partners</h3>
		</section>
		<section class="footer__item-logo ">
			<h6>Designed by</h6>
			<a href="" class="footer__partner-logo"><img src="img/areto_logo.png" alt=""></a>
		</section>
	</div>
</section>