body{
	font-family: Tahome, arial, sans-serif;
	}	

.background1{
	position: absolute;
	width: 100%;
	height: 46px;
	background: #128aa7;
}
.background2{
	
	position: absolute;
	width: 100%;
	height: 147px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#14cde1+0,14cee2+0,ffffff+100 */
	background: #14cde1; /* Old browsers */
	background: -moz-linear-gradient(top,  #14cde1 0%, #14cee2 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14cde1), color-stop(0%,#14cee2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #14cde1 0%,#14cee2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #14cde1 0%,#14cee2 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #14cde1 0%,#14cee2 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #14cde1 0%,#14cee2 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14cde1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	top:45px;
}
.background3{
	position: absolute;
	width: 100%;
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000e0+0,40c6d3+0,40c6d3+20,207cca+100,7db9e8+100,0c739f+100 */
	background: #0000e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0000e0 0%, #40c6d3 0%, #40c6d3 20%, #207cca 100%, #7db9e8 100%, #0c739f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0000e0), color-stop(0%,#40c6d3), color-stop(20%,#40c6d3), color-stop(100%,#207cca), color-stop(100%,#7db9e8), color-stop(100%,#0c739f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0000e0 0%,#40c6d3 0%,#40c6d3 20%,#207cca 100%,#7db9e8 100%,#0c739f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0000e0 0%,#40c6d3 0%,#40c6d3 20%,#207cca 100%,#7db9e8 100%,#0c739f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0000e0 0%,#40c6d3 0%,#40c6d3 20%,#207cca 100%,#7db9e8 100%,#0c739f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0000e0 0%,#40c6d3 0%,#40c6d3 20%,#207cca 100%,#7db9e8 100%,#0c739f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000e0', endColorstr='#0c739f',GradientType=0 ); /* IE6-9 */
}
.wrapper{
	position: relative;
	left: 0;
	top:0px;
	width: 1000px;
	margin: 0 auto;
	background: white;
	z-index: 10;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}
.header_head{
	position: relative;
	width: 100%;
	height: 410px;
	padding-top: 10px;
}
.clearfix:after{
	content:'';
	clear: both;
	display: block;
}
.logo{
	float:left;
	padding-top: 18px;
	padding-left: 25px;
}
 .promo {
 	position: relative;
 	text-align: right;
 	float: right;
 	margin-right: 10px;
}
.contacts {
	font-size: 12px;
	color: #5fa5bb;
	margin:14px;
	text-align: right;
}
.countries{
	text-align: center;
	margin: 50px 0 0 0 ;
}
.countries li{
	display: inline-block;
	margin: 0 14px;
}
.countries a{
	color: #5fa5bb;
}
.title {
	font-size: 10px;
}
.photo{
	position: absolute;
	top:192px;
}
.menu{
	position: relative;
	background:#343434;
	z-index: 200;
}
.nav{
	width:100%;
	list-style:none;
}
.nav li{
	float:left;
	position:relative;
	display:block;
}
.nav li a{
	display:block;
	padding: 10px 35px;
	color:#fff;
	background:#343434;
	text-decoration:none;
	font-size: 14px;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.nav ul{
	list-style:none;
	position:absolute;
	display: none;
}

.nav ul li{
	float:none;
}
.nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
.nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	display: block;
	border-top: 1px solid #000;
	-webkit-box-shadow: 0px 3px 10px #343434;
   /* -moz-box-shadow: 0 0 30px #969696;
    box-shadow: 0 0 30px #969696;*/
}
.content{
	padding: 20px 0;
	position: relative;
	width: 100%;
	background: url('../img/fon1.png') repeat-y;
	float: left;
}
.container {
	margin:0 auto;
	width: 90%;
}
.col1{
	position: relative;
	width: 210px;
	float: left;
}
.col2{
	position: relative;
	width: 580px;
	float: left;
}
.col3{
	position: relative;
	width: 210px;
	float: right;
}
.footer{
	position: relative;
	margin: 20px auto;
	text-align: center;
	font-size: 10px;
	color:#fff;
	/*z-index: 20;*/

}
