<footer>
	
		<section class="footer-menu">
			<div class="footer-menu-wrapper">

				<div class="footer-menu-box">
					<h1>SOCIAL MENU</h1>
					<ul>
						<li><a href="#" class="footer-menu-link">Facebook</a></li>
						<li><a href="#" class="footer-menu-link">Flickr</a></li>
						<li><a href="#" class="footer-menu-link">Twitter</a></li>
						<li><a href="#" class="footer-menu-link">Vimeo</a></li>
					</ul>
				</div>
				<div class="footer-menu-box">
					<h1>LINKS</h1>
					<ul>
						<li><a href="#" class="footer-menu-link">How to Write a Blog</a></li>
						<li><a href="#" class="footer-menu-link">Create a Blog in 4 Steps</a></li>
						<li><a href="#" class="footer-menu-link">15 Tips to Increase Traffic</a></li>
						<li><a href="#" class="footer-menu-link">20 Blog Post Ideas</a></li>
					</ul>
				</div>
				<div class="footer-menu-box">
					<h1>BLOGROLL</h1>
					<ul>
						<li><a href="#" class="footer-menu-link">Blogs Blog</a></li>
						<li><a href="#" class="footer-menu-link">Roll Up Roll Up</a></li>
						<li><a href="#" class="footer-menu-link">Blog Free</a></li>
						<li><a href="#" class="footer-menu-link">Wordpress Blog</a></li>
					</ul>
				</div>
				<div class="footer-menu-box">
					<h1>ABOUT US</h1>
					<ul>
						<li><a href="#" class="footer-menu-link">Agriculture</a></li>
						<li><a href="#" class="footer-menu-link">Harvest</a></li>
						<li><a href="#" class="footer-menu-link">Company news</a></li>
						<li><a href="#" class="footer-menu-link">Investor relations</a></li>
					</ul>
				</div>
			</div>
		</section>
		<div class="footer-line">
			<div class="footer-line-box">
				<div class="footer-addr">
				<a href="#" class="footer-menu-link">
					<span class="fa fa-map-marker"></span>
					BuildHomeLtd.  Street Name 123   23 45 Cityname
				</a>
				</div>

				<div class="footer-phone">
				<a href="#" class="footer-menu-link">
				<span class="fa fa-mobile"></span>
					+123 900 123 456
				</a>
				</div>

				<div class="footer-email">
				<a href="#" class="footer-menu-link">
				<span class="fa fa-envelope-o" ></span>
					info@buildhome.web
				</a>
				</div>
				<div class="footer-copyr">
					<a href="#" class="footer-menu-link">
					© 2014 Build Home
				</a>
				</div>

			</div>
		</div>

	
</footer>