<header>
	<div class="header-wrapper">
		<div class="header-line">
			<div class="logo-box">
				<a href="#" class="logo">

					<h1>Build Home</h1>
					<p>industrial theme</p>
				</a>
			</div>
			<!-- <div class="socials"> -->
				<ul class="socials-menu">
					<li class="socials-menu__item">
					<i class="fa fa-facebook"></i>
					</li>
					<li class="socials-menu__item">
						<i class="fa fa-twitter"></i>	
					</li>
					<li class="socials-menu__item">
						<i class="fa fa-rss"></i>
					</li>
					<li class="socials-menu__item">
						<i class="fa fa-linkedin"></i>
					</li>
					<li class="socials-menu__item">
						<i class="fa fa-skype"></i>
					</li>
				</ul>

			<!-- </div> -->

		</div>
		<div class="header-menu">
			<div class="menu-box">
				<ul class="menu">
					<li class="active"><a class="menu-item__link" href="#">HOME</a></li>
					<li><a class="menu-item__link" href="#">FEATURES</a></li>
					<li><a class="menu-item__link" href="#">SERVICES</a></li>
					<li><a class="menu-item__link" href="#">NEWS</a></li>
					<li><a class="menu-item__link" href="#">SHOP</a></li>
					<li class="search">
						<div class="search-box">
							<input type="text" placeholder="Search...">
							<a href="#"><i class="fa fa-search"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</header>