
@media screen and (max-width:767px){
	
	.wrapper {
        width: $mobile-wrapper-size;
    }
    .header__content h1{
	
    	margin: 0 auto;
		font-size: 30px;
		width: 100%;
	}
	.header h3{
		text-align: center;
		position: relative;
		top:160px;
		float: none;
	}
	.header__login-box{
		display: block;
		text-align: center;
		float:none;
		padding-top:20px;
	}
	.content .jcarousel{
		width: 295px;
		height: 240px;
	}
	.partner-list {
		width: 292px;
	}
	.search-box{
		.btn-search{
			width: 250px;
		}
	}
	.footer__links li{
		display: inline-block;
	}
	.grid-item {
  		width: $discovery-mobile-width1;
  		height: $discovery-mobile-height;
  		&--width2{
  			width: $discovery-mobile-width1;	
  		}
	}
}
@media screen and (min-width: 769px) and (max-width:930px){
	.wrapper {
        width: $tablet-wrapper-size;
    }
    .content .jcarousel{
		width: 236px;
		height: 400px;
	}
	.partner-list {
		width: 492px;
	}
	.search-box{
		.btn-search{
			width: 158px;
		}
	}
	.footer {
		.wrapper{
			padding-top: 30px;
			overflow: hidden;
		}
		&__item{
			float:left;
			&-logo{
				float: right;
			}
		}

		&__links li{
			display: block;
		}
	}
	.grid-item {
  		width: $discovery-tablet-width1;
  		height: $discovery-tablet-height;
  		&--width2{
  			width: $discovery-tablet-width2;	
  		}
  		
	}
	
}
@media screen and (min-width: 931px) {
	.wrapper {
        width: $desktop-wrapper-size;
    }
	.header__content h1{
		width: 60%;
	}
	.jcarousel-prev{
	    top:150px;
	    left:25px;
	}
	.jcarousel-next{
	    position: absolute;
	    float: right;
	    top:150px;
	    right: 25px;
	}
	.search-box{
		.btn-search{
			width: 158px;
		}
	}
	
	.footer {
		.wrapper{
			padding-top: 30px;
			overflow: hidden;
		}
		&__item{
			float:left;
			&-logo{
				float: right;
			}
		}

		&__links li{
			display: block;
		}
	}
		
	/*.grid-sizer,*/
	.grid-item {
  		width: $discovery-desktop-width1;
  		height: $discovery-dektop-height;
  		&--width2{
  			width: $discovery-desktop-width2;	
  		}
  		
	}
}


