
@media screen and (max-width:767px){
	
	.wrapper {
        width: $mobile-wrapper-size;
    }
    .header__content h1{
	
    	margin: 0 auto;
		font-size: 30px;
		width: 100%;
	}
	.header h3{
		text-align: center;
		position: relative;
		top:160px;
		float: none;
	}
	.header__login-box{
		display: block;
		text-align: center;
		float:none;
		padding-top:20px;
	}
	.content .jcarousel{
		width: 295px;
		height: 240px;
	}
	.partner-list {
		width: 292px;
	}
	.search-box{
		.btn-search{
			width: 250px;
		}
	}
	.footer__links li{
		display: inline-block;
	}

}
@media screen and (min-width: 769px) and (max-width:930px){
	.wrapper {
        width: $tablet-wrapper-size;
    }
    .content .jcarousel{
		width: 236px;
		height: 400px;
	}
	.partner-list {
		width: 492px;
	}
	.search-box{
		.btn-search{
			width: 158px;
		}
	}
	.footer {
		.wrapper{
			padding-top: 30px;
			overflow: hidden;
		}
		&__item{
			float:left;
			&-logo{
				float: right;
			}
		}

		&__links li{
			display: block;
		}
	}	
}
@media screen and (min-width: 931px) {
	.wrapper {
        width: $desktop-wrapper-size;
    }
	.header__content h1{
		width: 60%;
	}
	.content .jcarousel{
		width: 300px;
		height: 400px;
	}
	.search-box{
		.btn-search{
			width: 158px;
		}
	}
	.footer {
		.wrapper{
			padding-top: 30px;
			overflow: hidden;
		}
		&__item{
			float:left;
			&-logo{
				float: right;
			}
		}

		&__links li{
			display: block;
		}
	}	
}


