/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-left {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 56px;
}
.icon-arrow-right {
  background-image: url(../img/sprite/sprite.png);
  background-position: -31px 0px;
  width: 30px;
  height: 56px;
}
.icon-bottle {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -57px;
  width: 13px;
  height: 16px;
}
.icon-cup {
  background-image: url(../img/sprite/sprite.png);
  background-position: -62px 0px;
  width: 17px;
  height: 17px;
}
.icon-plane {
  background-image: url(../img/sprite/sprite.png);
  background-position: -62px -36px;
  width: 17px;
  height: 16px;
}
.icon-tv {
  background-image: url(../img/sprite/sprite.png);
  background-position: -62px -18px;
  width: 17px;
  height: 17px;
}
