
$logo-header-color: red;
$wrapper-width : 1160px;
$header-logo-height: 37px;
$logo-header-color:#434343;
$header-menu-height: 55px;
$news-banners-width: 1240px;
$main-menu-height:55px;
$blue: #248cec;
$grey:#8a8a8a;
$yellow: #f4b60d;


@font-face {
    font-family: 'ubuntu_condensed';
    src: url('../fonts/ubuntu-c-webfont.eot');
    src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-c-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-c-webfont.woff') format('woff'),
         url('../fonts/ubuntu-c-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_light';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_medium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
$arial: Arial, sans-serif;
$ubuntu-m: 'ubuntu_medium', sans-serif;
$ubuntu-c: 'ubuntu_condensed', sans-serif;
$ubuntu-l: 'ubuntu_light', sans-serif;

@mixin square($value: 100%) {
    width: $value;
    height: $value;
}

* {
	box-sizing: border-box;
	font-family: $ubuntu-m;
	a {
		text-decoration: none;
	}
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 16px;
	}
}


