html,body{
	height: 100%;
	font-family: Arial, sans-serif;
}
.clearfix:after{
	content:'';
	clear: both;
	display: block;
}
.wrapper{
	position: relative;
	width: 910px;
	height: 100%;
	margin: 10px auto 0 auto;
}
header{
	height: 314px;
}
.contacts{
	height: 31px;
	position: relative;
}
.phones{
	float: left;
	width: 295px;
	height: 31px;
	font-size: 18px;
	color:#5e696d;
	letter-spacing: 0.4px;
	margin-left: 7px;
}
.phones img{
	top:4px;
	position:relative;
}
.auth{
	float: left;
	width: 495px;
	height: 25px;
	background: #1f6787; /* Old browsers */
	background: -moz-linear-gradient(top,  #1f6787 0%, #0c3357 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f6787), color-stop(100%,#0c3357)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1f6787 0%,#0c3357 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1f6787 0%,#0c3357 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1f6787 0%,#0c3357 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1f6787 0%,#0c3357 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	margin-left: 13px;
	color:#fff;
	font-family: "Lucida Sans Unicode Regular", sans-serif;
	font-size: 11px;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(185,185,185,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(185,185,185,1);
	box-shadow: 2px 2px 3px 0px rgba(185,185,185,1);
	padding-bottom: 0px;
}
.auth img{
	position: relative;
	top:5px;
	margin:0 0 0 7px;
}
.auth input{
	width: 113px;
	height: 15px;
	font-size: 11px;
	border-radius: 1px;
	border:none;
	margin:2px;
	position:relative;
	top:-2px;;
}
.auth a{
	color: #fff;
	text-decoration: none;
	padding-left: 1px;
	letter-spacing: .3px;
}
.auth .forgot_pass a{
	color: #bfbfbf;
	font-size: 11px;
	text-decoration: underline;
	margin-left: 14px;
}
.map{
	border: 1px solid #c1c8cb;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(185,185,185,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(185,185,185,1);
	box-shadow: 2px 2px 3px 0px rgba(185,185,185,1);
	padding-bottom: 0px;

	border-radius: 12px;
	float: right;
	width: 76px;
	height: 21px;
	margin-right:8px;
}
.map img{
	margin: 3px;
	position: relative;
	left:6px;
	top:2px;
}
.menu{
	position: relative;
	height: 33px;
	color:#b1bcc0;
	background: url('../img/menu_bkg.png');
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(185,185,185,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(185,185,185,1);
	box-shadow: 2px 2px 5px 2px rgba(185,185,185,1);
	margin-top: 3px;
}
.menu ul{
	float: right;
	height: 100%;
	text-transform: uppercase;
	font-size: 0;
}
.menu a{
	text-decoration: none;
	color: #b1bcc0;
	line-height: 18px;
}
.menu li{
	display: inline-block;
	position: relative;
	border-radius: 12px;
	font-family: "lucida sans unicode regular";
	font-size: 14px;
	padding: 3px 14px;
	top: 4px;
	margin: 0 3px;
}
.menu li:hover, {
	background: #25617b; /* Old browsers */
	background: -moz-linear-gradient(top,  #25617b 0%, #09233b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25617b), color-stop(100%,#09233b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #25617b 0%,#09233b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #25617b 0%,#09233b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #25617b 0%,#09233b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #25617b 0%,#09233b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25617b', endColorstr='#09233b',GradientType=0 ); /* IE6-9 */	
}
.menu a:hover{
	color: white;
}
.koshik {
	float: right;
	width: 215px;
	height: 100%;
	position: relative;
	top:3px;
	margin-right: 13px;
	margin-left: 38px;
	font-size: 11px;
}
.koshik img{
	position: relative;
	top:5px;
}
.price, .num_items{
	color: #104c78;
	font-size: 12px;
	margin:5px;
}
.main {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 16px;
}
.col_title{
	overflow: hidden;
	display: block;
	border: 1px solid #79878d;
	border-radius: 15px;
	/*box-sizing:border-box;*/
	-webkit-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	-moz-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	font-size: 12px;
	padding: 1px;
	margin-bottom: 13px;
	margin-top: 1px;
	
}
.col_title img, .col_title h3{
	display: inline-block;
	float: left;

}
.col_title h3{
font-weight: bold;
margin:6px 0 0 5px;
letter-spacing: .3px;

}
.select_title{
	border: 1px solid #79878d;
	border-radius: 15px;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	-moz-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	font-size: 14px;
	padding: 3px 4px;
	width: 151px;
	height: 30px;
}
.select_title img, .select_title h3{
	display: inline-block;
	float: left;
}
.select_title h3{
font-weight: bold;
margin:5px 0 0px 5px;
letter-spacing: .3px;

}
.left_col{
	width: 20%;
	float: left;
	color: #114165;
}
.left_col a{
	text-decoration: none;
	color: #114165;
}
.left_col ul{
	font-size: 0;
	list-style: circle;
	margin: 0px 0px 0px 45px;
	line-height: 25px;
	letter-spacing: 0;
}
.left_col li{
	font-family: "lucida sans unicode regular",sans-serif;
	font-size: 13px;
}
.left_col li:hover{
	font-family: arial;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}
.right_col{
	width: 20%;
	float: right;
	color: #114165;
}
.right_col .check_bar{
	padding-left: 12px;
}
.right_col ul{
	font-size: 13px;
	display: block;
	margin: 10px 0px 0px 9px;
}
.right_col li{
	height: 24px;
}
input[type="checkbox"]{
	margin:0 7px 0 0;
	padding: 0;
	transform: scale(.7);
}

.right_col button{
	border:none;
	box-sizing:content-box;
	text-transform: uppercase;
	font-size: 11px;
	height: 24px;
	width: 67px;
	margin:7px 23px;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6787+0,0c3357+100 */
	background: #1f6787; /* Old browsers */
	background: -moz-linear-gradient(top,  #1f6787 0%, #0c3357 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f6787), color-stop(100%,#0c3357)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1f6787 0%,#0c3357 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1f6787 0%,#0c3357 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1f6787 0%,#0c3357 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1f6787 0%,#0c3357 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	-moz-box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	box-shadow: 3px 3px 3px 0px rgba(150,150,150,0.75);
	border-radius: 12px;
}
.mid_col{
	vertical-align: top;
	margin: 0 auto;
	width: 58%;
	text-align: center;
	background: #e5e7e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e7e8 0%, #93a7b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e7e8), color-stop(100%,#93a7b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e7e8 0%,#93a7b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e7e8 0%,#93a7b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e7e8 0%,#93a7b0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e7e8 0%,#93a7b0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
}
.product_items{
	box-sizing: border-box;
	display: inline-block;
	width: 138px;
	height: 185px;
	margin: 10px 14px;
}
.item_image{
	box-sizing:border-box;
	width: 138px;
	border-radius: 8px;
	background:white;
	border: 1px solid rgba(0,0,0,0.3);
	margin: 3px auto;
	padding: 2px 0;
	height: 127px;
}
.product_items h3{
	font-size: 15px;
	color:#206988;
	font-weight: bold;
}
.item_title{
	font-size: 12px;
}
.item_price{
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color:#114165;
}
footer{
	height: 150px;
	margin-top: 40px;
	text-align: center;
	overflow: hidden;
}
footer .logotypes div{
	display: inline-block;
	margin:6px 6px 26px 6px;
	vertical-align: top;
}
footer .footer_info{
	color:#bec6c9;
	font-size: 13px;
	background: #213a4d;
	height: 100%;
}
footer .footer_info a{
	color:inherit;
	line-height: 35px;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
}
footer .footer_info a:hover{
	color:#52abcb;
}
footer .copy{
	color: #7a4641;
	font-size: 10px;
}

@font-face {
    font-family: 'lucida sans unicode regular';
    src: url('../fonts/fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
